<div class="container">
    <div class="row">
            <h1>{{nodesTitle}}</h1>
    </div>
       
   <div class="table-responsive">
        <table class="table">
          <tr ng-repeat="node in consulNodes">
              <td>{{node.Node}}</td>
              <td>{{node.Address}}</td>
          </tr>
       </table>
  </div>
</div>


<div class="container">
    <div class="row">
            <h1>{{serviceTitle}}</h1>
    </div>
   <div class="table-responsive">
        <table class="table">
          <tr ng-repeat="service in consulServices">
            <td>{{service.ServiceID}}</td>
            <td>{{service.Node}}</td>
            <td>{{service.Address}}</td>
            <td>{{service.ServiceName}}</td>
            <td>{{service.ServiceAddress}}</td>
            <td>{{service.ServicePort}}</td>
          </tr>
       </table>
    </div>    
    
</div>